body{
  text-align:center;
  color:#303;
}
.container{
  width: 70vw;
  border:1px solid #333;
  border-radius:5px;
  padding:1em;
  margin:20px auto;
}
.cabecera{
  background-color:#525252;
  color:#f1f1f1;
  padding:1em;
  border:5px;
  margin-bottom:10px;
}